/* space-mono-regular - latin */
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../fonts/space-mono-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/space-mono-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* space-mono-700 - latin */
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  src: local(''),
  url('../fonts/space-mono-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/space-mono-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lexend-deca-regular - latin */
@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../fonts/lexend-deca-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/lexend-deca-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root{
  --header-bg-color: #fff;
  --main-bg-color: #fff;
  --main-text-color: #495567;
  --subtitle-text-color: #939CAA;
  --main-btn-color: #FCB72B;
  --footer-bg-color: #333A44;
}

/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: "Space Mono", "Courier New", monospace;
  font-weight: 700;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  max-width: 1146px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

ul{
  padding-left: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

.site-main__btn{
  padding: 14px 39px;
  font-size: 15px;
  line-height: 25px;
  border: 3px solid var(--main-btn-color);
  background-color: var(--main-btn-color);
  color: var(--header-bg-color);
}

.site-main__btn:active{
  border: 3px solid var(--main-btn-color);
  background-color: transparent;
  color: var(--main-btn-color);
}

/************** HEADER STYLES START **************/
.site-header{
  background-color: var(--header-bg-color);
  padding-top: 22px;
  padding-bottom: 21px;
}

.site-header__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header__start{
  display: flex;
  align-items: center;
}

.site-header__logo{
  margin-right: 58px;
  color: var(--main-text-color);
}

.site-nav__list{
  display: flex;
}

.site-nav__link{
  margin-right: 32px;
  font-size: 15px;
  line-height: 25px;
  color: var(--subtitle-text-color);
}

.site-nav__link:active{
  color: var(--main-btn-color);
}
/************** HEADER STYLES END **************/

/************** MAIN STYLES START **************/
.site-main{
  background-color: var(--main-bg-color);
}
/**** HERO SECTION START ****/
.hero-section{
  background-image: url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 130px;
}

.overlay-bg{
  width: 100%;
  height: 100%;
  padding-top: 153px;
  padding-bottom: 152px;
  background-color: rgba(47, 59, 89, 0.7);
}

.hero-section__title{
  width: 550px;
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 56px;
  line-height: 56px;
  color: var(--main-bg-color);
}

.hero-section__desc{
  position: relative;
  width: 405px;
  margin-top: 0;
  margin-bottom: 40px;
  margin-left: 95px;
  font-family: 'Lexend Deca';
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: var(--main-bg-color);  
}

.hero-section__desc::before{
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 502px);
  display: inline-block;
  width: 210px;
  height: 15px;
  background-image: url("../images/hero-arrow-start.svg");
  background-repeat: no-repeat;
  content: "";
}

.hero-section__desc::after{
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% + 289px);
  display: inline-block;
  width: 450px;
  height: 150px;
  background-image: url("../images/hero-arrow-end.svg");
  background-repeat: no-repeat;
  content: "";
}

.hero-section__btn{
  margin-left: 95px;
}

/**** HERO SECTION END ****/
/************** MAIN STYLES END **************/