/* space-mono-regular - latin */
@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/space-mono-v12-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/space-mono-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* space-mono-700 - latin */
@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/space-mono-v12-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/space-mono-v12-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lexend-deca-regular - latin */
@font-face {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/lexend-deca-v17-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/lexend-deca-v17-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --header-bg-color: #fff;
  --main-bg-color: #fff;
  --main-text-color: #495567;
  --subtitle-text-color: #939caa;
  --main-btn-color: #fcb72b;
  --footer-bg-color: #333a44;
}

/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: "Space Mono", "Courier New", monospace;
  font-weight: 700;
  background-color: #fff;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  max-width: 1146px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.site-main__btn {
  padding: 14px 39px;
  font-size: 15px;
  line-height: 25px;
  border: 3px solid var(--main-btn-color);
  background-color: var(--main-btn-color);
  color: var(--header-bg-color);
}

.site-main__btn:active {
  border: 3px solid var(--main-btn-color);
  background-color: transparent;
  color: var(--main-btn-color);
}

/************** HEADER STYLES START **************/
.site-header {
  background-color: var(--header-bg-color);
  padding-top: 22px;
  padding-bottom: 21px;
}

.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header__start {
  display: flex;
  align-items: center;
}

.site-header__logo {
  margin-right: 58px;
  color: var(--main-text-color);
}

.site-nav__list {
  display: flex;
}

.site-nav__link {
  margin-right: 32px;
  font-size: 15px;
  line-height: 25px;
  color: var(--subtitle-text-color);
}

.site-nav__link:active {
  color: var(--main-btn-color);
}
/************** HEADER STYLES END **************/

/************** MAIN STYLES START **************/
.site-main {
  background-color: var(--main-bg-color);
}
/**** HERO SECTION START ****/
.hero-section {
  background-image: url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 159.55px;
}

.overlay-bg {
  width: 100%;
  height: 100%;
  padding-top: 153px;
  padding-bottom: 152px;
  background-color: rgba(47, 59, 89, 0.7);
}

.hero-section__title {
  width: 550px;
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 56px;
  line-height: 56px;
  color: var(--main-bg-color);
}

.hero-section__desc {
  position: relative;
  width: 405px;
  margin-top: 0;
  margin-bottom: 40px;
  margin-left: 95px;
  font-family: "Lexend Deca";
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: var(--main-bg-color);
}

.hero-section__desc::before {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 502px);
  display: inline-block;
  width: 210px;
  height: 15px;
  background-image: url("../images/hero-arrow-start.svg");
  background-repeat: no-repeat;
  content: "";
}

.hero-section__desc::after {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% + 289px);
  display: inline-block;
  width: 450px;
  height: 150px;
  background-image: url("../images/hero-arrow-end.svg");
  background-repeat: no-repeat;
  content: "";
}

.hero-section__btn {
  margin-left: 95px;
}

/**** HERO SECTION END ****/

/******   cards section  ******/

.cards {
  margin-bottom: 147px;
}

.cards_wrapper {
  display: flex;
  padding-top: 100px;
  gap: 30px;
  position: relative;
}

.cards_title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
  margin-bottom: 27px;
  position: relative;
}
.card_desc {
  font-family: "Lexend Deca";
  width: 350px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
}

.cards_title::before {
  position: absolute;
  top: -115px;
  content: "";
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: var(--main-btn-color);
  background-image: url(../images/icons/scoot-user-icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.cards:nth-child(2) p::before {
  background-image: url(../images/icons/phone-icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.cards:nth-child(3) p::before {
  background-image: url(../images/icons/scoot-icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.line {
  position: absolute;
  width: 974px;
  height: 1px;
  top: 50px;
  left: -213px;
  overflow: hidden;
  margin: 0;
  z-index: 0;
  width: 974px;
  height: 1px;
  border: 5px solid #e5ecf4;
}

/********************** USAGE SECTION   ********************/

.usage {
  background-image: url(../images/icons/near_img_back.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + 850px);
  margin-bottom: 168px;
}

.usage_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  gap: 83px;
}

.article_title {
  width: 445px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
  margin: 0;
  margin-bottom: 24px;
}

.article_desc {
  font-family: "Lexend Deca";
  width: 445px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
  margin: 0;
  margin-bottom: 40px;
}

.article_btn {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  padding: 14px 43px;
  text-align: center;
  color: #ffffff;
  background: #fcb72b;
}

.article_btn:active {
  background-color: #fff;
  color: var(--main-btn-color);
  border: 1px solid var(--main-btn-color);
}

.usage_img {
  border-radius: 50%;
}
.arrow {
  position: absolute;
  right: -175px;
  bottom: -10px;
}

.city {
  background-image: url(../images/icons/near_img_back.svg);
  background-position: calc(50% - 800px);
  background-repeat: no-repeat;
  margin-bottom: 130px;
}

.city_wrapper {
  display: flex;
  align-items: center;
  gap: 100px;
  position: relative;
}

.city_img {
  border-radius: 50%;
  margin-left: 30px;
}

.city_arrow {
  position: absolute;
  left: -228px;
  top: 0;
}

.payments {
  background-image: url(../images/icons/near_img_back.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + 750px);
  margin-bottom: 307px;
}

.payments_wrapper {
  display: flex;
  gap: 100px;
  position: relative;
  align-items: center;
}

.payments_img {
  border-radius: 50%;
}

.payments_arrow {
  position: absolute;
  top: 50px;
  right: -410px;
}

.store {
  background-image: url(../images/sign-section-bg.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 102px;
  padding-bottom: 102px;
}

.store_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.store_items {
  display: flex;
  width: 359px;
  justify-content: space-between;
}

.store_title {
  width: 415px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #ffffff;
}
.stores {
  display: flex;
  width: 159px;
  height: 56px;
  gap: 11px;
  padding: 8px 16px;
  background: #e5ecf4;
  border-radius: 4px;
}

.available {
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: -0.446429px;
  color: #495567;
  margin: 0;
}

.store_name {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.892857px;
  color: #495567;
  margin: 0;
}
.google {
  width: 182px;
}
/************** MAIN STYLES END **************/

/********************** footer section ***********/


.site_footer {
  background-color: var(--footer-bg-color);
  padding-top: 35px;
  padding-bottom: 32px;
}
.footer_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_list {
  display: flex;

  padding-left: 0;
  list-style: none;
  gap: 32px;
}
.footer_links {
  display: flex;
  align-items: center;
  width: 417px;
  justify-content: space-between;
}
.list_item_link {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
}

.list_item_link:active {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #fcb72b;
}

.social_links {
  display: flex;
  justify-content: space-between;
  width: 120px;
}
